@model IEnumerable<Mee.Models.Sitter>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @using (Html.BeginForm("Index", "Sitter", FormMethod.Get))
    {
    <b>Search By:</b> @Html.RadioButton("searchBy", "Zip Code", true) <text>ZipCode</text>
    @Html.TextBox("search") <input type="submit" value="Search" />
    }
</p>

@using (Html.BeginForm("SendEmailToSitter", "Parent", FormMethod.Post))
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @if (User.IsInRole("Sitter"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) 
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    }
                </td>
                <td>
                    @if (User.IsInRole("Parent"))
                    {
                        <input type="submit" value="Select Sitter"/>
                    }

                </td>
            </tr>
        }

    </table>
}

@if (User.IsInRole("Parent"))
{
    <script type="text/javascript">
            function add_chatinline() { var hccid = 59037510; var nt = document.createElement("script"); nt.async = true; nt.src = "https://mylivechat.com/chatinline.aspx?hccid=" + hccid; var ct = document.getElementsByTagName("script")[0]; ct.parentNode.insertBefore(nt, ct); }
            add_chatinline();</script>
}